<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>
            CRM  Page
        </h1>
        <section id="create-customers">

            <h4>Customer Personal Details</h4>

            <!-- Created customer personal detail form -->
            <form action="" id="new-customer-pd" method="POST">

                <input type="text" name="firstName" id="" placeholder="First Name " required ><br><br>
                <input type="text" name="lastName" id="" placeholder="Last Name" required ><br><br>
                <input type="text" name="phone" id="" placeholder="Phone Number" required ><br><br>
                <input type="text" name="altPhone" id="" placeholder="Alt. Phone Number"  ><br><br>
                <input type="text" name="addressLine1" id="" placeholder="Address Line 1" required ><br><br>
                <input type="text" name="addressLine2" id="" placeholder="Address Line 2"  ><br><br>
                <input type="number" name="pincode" id="" placeholder="Pincode" required ><br><br>
                <input type="text" name="city" id="" placeholder="City" required ><br><br>
                <input type="text" name="state" id="" placeholder="State" required ><br><br>
                <input type="text" name="country" id="" placeholder="Country" required ><br><br>
                <input type="email" name="email" id="" placeholder="Email" required ><br><br>
                <input type="date" name="dateOfBirth" id="" placeholder="Date of birth" required ><br><br>

                <input type="submit" value="Add Customer PD">

            </form>
        </section>
    </body>
</html>
