<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <%- include('_header');%>
    
        <hr>
        <main id="layout-main">
            <%- body %>
        </main>
        <hr>
        <%- include('_footer');%>

        <%- script %>

    </body>
</html>